# Data Types

## There are eight kinds of types supported by PyTables:

- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- uint: Unsigned integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- complex: Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits and extended precision complex (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.
- time: Data/time types. Supported precisions: 32 and 64 (default) bits.
- enum: Enumerated types. Precision depends on base type.

In [ ]:
type(3)
type(4.0)

In [ ]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

In [ ]:
a=3.0
type(a)

In [ ]:
import datetime
today = datetime.date.today()
print(today)

In [ ]:
from datetime import date
date.month(today)

In [ ]:
from datetime import date
from datetime import datetime

today = date.today()
print(today)
print(datetime.now())

In [ ]:
import datetime as dt
day1 = date(2010, 6, 20)
print(day1)

day1 + dt.timedelta(days=100)

In [ ]:

import datetime

otherday = day1 + datetime.timedelta(days=400)
print(otherday)

my_bday = date(1978, 6, 10)

print(date.today()-my_bday)

In [ ]:
my_birthday = date(today.year, 6, 24)
my_birthday = my_birthday.replace(year=today.year + 1)
print(my_birthday)

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday.days)

In [ ]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

In [ ]:
date.today()

In [ ]:
date.fromtimestamp(time.time())

# Math Operators

In [ ]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10 ** 4) # exponent (returns 10000) 
print(10 / float(4)) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

In [ ]:
int(10/4)

In [ ]:
3+2.2

In [ ]:
str(3) + 'abc'

# Logical / Comparision Operators

In [ ]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )
# evaluation order: not, and, or

In [ ]:
print(5 >= 3 and 6 > 100)

# Conditional Statements

In [ ]:
x = -8
# if/elif/else statement
if x > 0:
    print('positive') 
elif x == 0: 
    print('zero') 
else: 
    print('negative')

In [ ]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [2]:
my_list = [3,4.0,"data science"]
print(my_list)

[3, 4.0, 'data science']

In [4]:
my_list[2]

'data science'

In [5]:
family = ['mom','dad','me']
family

['mom', 'dad', 'me']

In [6]:
family.extend(['bro','uncle','aunt'])
family

['mom', 'dad', 'me', 'bro', 'uncle', 'aunt']

In [7]:
family.append('me')

['mom', 'dad', 'me', 'bro', 'uncle', 'aunt', 'me']

In [8]:
family.count('me')

2

In [9]:
len(family)

7

In [ ]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

In [11]:
family.remove('me')

In [12]:
family

['mom', 'dad', 'bro', 'uncle', 'aunt']

In [13]:
family.pop(2)

'bro'

In [15]:
family.insert(2,"me")
family

['mom', 'dad', 'me', 'uncle', 'aunt']

In [ ]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [16]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
zero = (0,) # trailing comma is required to indicate it's a tuple 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

two
3
1

In [ ]:
digits.

In [ ]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

In [ ]:
digits[1]= 'one' #returns an assignment error

In [ ]:
my_tuple = (1,3.0,'works')
my_tuple
my_tuple2 = tuple(["this works too",8,10,True])
type(my_tuple2)

# Strings

In [ ]:
# create a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

In [26]:
s = 'I am a Data Scientist'
len(s)

21

In [25]:
s1 = 'Hello Data Science World'
s1[-5:-2]

'Wor'

In [ ]:
s1[-10:-2]

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [34]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Ashok', 'job':'Data Scientist', 'location':"bangalore", "years_exp":17} 
my_dict = dict(name='Anand', age=30, job='Data Scientist', location="bangalore", years_Exp=17) 


my_dict['age']

30

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [36]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','viper']) # create a set from a list

In [37]:
snakes

{'cobra', 'python', 'viper'}

In [39]:
# examine a set 

lang.intersection(snakes)

{'python'}

In [ ]:
languages.union(snakes)

# Functions

In [41]:


def   iseven(x):
    if (x%2==0):
        return True
    else:
        return False

        
        
iseven(4)

True

In [ ]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

# Loops

In [47]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 

for x in fruits: 
	 if(x!='banana'): print(x)

apple
cherry
mango

In [ ]:
a= ar